body {
	margin: 20px 0px 0px 0px;
	 /* n6.01win-mac won't recognize top margin 
	 for middle box, so it goes here */
	padding: 0px 0px 0px 0px;
	font-family: verdana, arial, helvetica, sans-serif;
	color: #ccc;
	background-color: #333;
	}
#left {
	position: absolute;
	top: 0px;
	left: 0px;
	margin: 20px;
	padding: 10px;
	border: 5px solid #ccc;
	background: #666;
	width: 150px; /* ie5win fudge begins */
	voice-family: "\"}\"";
	voice-family:inherit;
	width: 120px;
	}
html>body #left {
	width: 120px; /* ie5win fudge ends */
	}
#middle {
	margin: 0px 190px 20px 190px; /* n6.01win n6mac 
	won't recognize top margin for middle box, so it 
	goes in body */
	padding: 10px;
	border: 5px solid #ccc;
	background: #666;
	}
#right {
	position: absolute;
	top: 0px;
	right: 0px; /* Opera5.02 will show a space at right 
	swhen there is no scroll bar */
	margin: 20px;
	padding: 10px;
	border: 5px solid #ccc;
	background: #666;
	width: 150px; /* ie5win fudge begins */
	voice-family: "\"}\"";
	voice-family:inherit;
	width: 120px;
	}
html>body #right {
	width: 120px; /* ie5win fudge ends */
	}

/* #title{
	margin: 10px;
}

#title ul{
	text-align: center;	
}

#title ul li{
	list-style: none;
	display: inline-block;
	width: 80px;
	height: 50px;
	background-color: #888;
	line-height: 50px;
	vertical-align: middle;
	border: #BC4CE3 solid 2px;
    padding: 5px;
    margin: 1px;
} */

#content{
	position: absolute;
	text-align: center;
}


